<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Venkatesh Rao: Consulting and Writing</title>
  <link rel="icon" type="image/x-icon" sizes="64x64" href="/favicon-64.png">
  <link rel="icon" type="image/x-icon" sizes="32x32" href="/favicon-32.png">
  <link rel="icon" type="image/x-icon" sizes="16x16" href="/favicon-16.png">
  <link rel="stylesheet" href="/site.css">
</head>
<body>
<a name="top"></a>
<div id="pagebox">
<h1>Venkatesh Rao</h1>
<hr>
<h4><a href="#consulting">Consulting</a> | <a href="#workshops">Workshops/Speaking</a> | <a href="#bio">Bio and CV</a> | <a href="#contact">Contact</a></h4>
<hr>
<!-- CONTENT -->
</div>
</body>
</html>
